* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  color: #eeeeee;
}

::selection {
  background-color: #00adb5;
  color: #fff;
}

.header {
  padding: 1.5rem;
  background-color: #222831;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2.5rem 2.5rem rgba(0, 0, 0, 0.5);
}
.logo {
  padding: 1.5rem 3rem;
  font-size: 3rem;
  text-decoration: none;
  color: #00adb5;
  font-family: "Kdam Thmor Pro", sans-serif;
}
.logo:hover {
  color: #00adb5;
}
.header-nav {
  width: 45%;
}
.nav-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.nav-item {
  display: inline-block;
}
.nav-link {
  display: inline-block;
  color: #eeeeee;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #222831;
  text-transform: uppercase;
  transition: all .15s;
}
.nav-link:hover {
  color: #00adb5;
  border-bottom: 1px solid #00adb5;
}

.header-user {
  display: flex;
  align-items: center;
}

.user-name {
  font-size: 2rem;
  text-transform: uppercase;
  color: #00adb5;
  margin-right: 0.8rem;
  align-self: flex-end;
  margin-bottom: 1rem;
}

.user-img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.slider {
  position: relative;
}

.slider-img {
  width: 100%;
}

.carousel-item img {
  width: 100%;
  overflow-y: hidden;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

.carousel-text {
  background-color: #393e46;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  padding: 2.5rem 5rem 3.5rem 25%;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
  text-align: right;
}

.carousel-heading {
  font-size: 4.5rem;
  font-weight: 300;
  margin-top: 22rem;
  margin-bottom: 3rem;
  color: #00adb5;
}
.carousel-para {
  font-size: 1.8rem;
  font-weight: 400;
}

.btn-header {
  margin-top: 3rem;
  text-align: right;
}

.btn-primary {
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}
.btn-primary:hover {
  background-color: #00adb5;
}

.latest {
  background-image: linear-gradient(
      to right bottom,
      rgba(34, 40, 49, 0.8),
      rgba(57, 62, 70, 0.8)
    ),
    url("images/latest\ wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 8rem 6rem 14rem;
  /* text-align: center; */
  position: relative;
}

.latest-heading {
  font-size: 3.3rem;
  margin-bottom: 6rem;
  padding-left: 3rem;
  border-left: 3px solid #00adb5;
  text-transform: uppercase;
}

.latest-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-games {
  background-color: #222831;
  flex: 1;
  overflow: hidden;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #00adb5;
  transition: all 0.2s;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
}
.latest-games:hover {
  transform: translateY(-0.8rem) scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.latest-games:not(:last-child) {
  margin-right: 12rem;
}

.latest-img {
  width: 100%;
}

.latest-game-name {
  font-size: 2.7rem;
  color: #00adb5;
  margin: 1.5rem;
  margin-top: 2rem;
}
.latest-game-text {
  font-size: 1.6rem;
  color: #eeeeee;
  margin: 1.5rem;
}
.color-gray {
  color: #a9abba;
  margin-right: 0.25rem;
}

.latest-game-price {
  font-size: 2rem;
  color: #eeeeee;
  margin: 1.5rem;
}

.best-container {
  margin-bottom: 8rem;
}

.best-game {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #222831;
  flex: 1;
  margin-bottom: 3rem;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
}
.best-game:not(:last-child) {
  margin-right: 8rem;
}
.best-img {
  width: 55%;
}
.best-name {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.best-text {
  padding: 1rem;
}
.btn-best {
  margin: 2rem 1rem;
}

.footer {
  background-color: #393e46;
  padding: 8rem 5%;
  font-size: 1.4rem;
  color: #eee;
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
.footer-logo {
  font-size: 4.5rem;
}

.footer-container-main {
  display: flex;
}

.footer-container {
  width: 48%;
}
.footer__navigation {
  display: inline-block;
  border-top: 1px solid #777;
  padding-top: 2rem;
}
.footer__list {
  list-style: none;
  display: block;
}
.footer__list-item {
  display: inline-block;
}
.footer__list-item:not(:last-child) {
  margin-right: 2rem;
}
.footer__link:link,
.footer__link:visited {
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover {
  color: #00adb5;
  background-color: #333;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: scale(1.3);
}
.footer__link:active {
  transform: scale(1.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.footer__copyright {
  border-top: 1px solid #393e46;
  padding-top: 2rem;
  width: 86%;
  float: right;
}
